table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.25rem;
}

table, thead tr {
  border: 1px solid lightgray;
}

thead th:last-of-type {
  border-left: none;
}

th:not([colspan="2"]) {
  text-align: left;
}
