html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  width: 95%;
  margin: 0 auto;
  flex-direction: column;
  --color-red: #d81731;
}

.App-body {
  padding: 2rem 0;
}
